@model List<BeerMan.Models.Order>



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Неоплаченные заказы</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead class="panel panel-primary">
                <tr>
                    <th>№ Заказа</th>
                    <th>Просмотр тавара</th>
                    <th>Время оформления </th>
                    <th>Стоимость</th>
                    <th>Оформить оплату</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    Product 
                                <input data-id="@product.Id" class="check-product" type="checkbox" name="" value="" />
                                </h2>

                            </div>
                        </td>

                        <td>@product.CreateDate</td>
                        <td>@product.Cost</td>
                        <td><input id="checkBox_@product.Id" type="checkbox" value="@product.Id" name="сheckout" /> </td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <div class="table-product" data-product-id="@product.Id">
                                <div class="panel-body">
                                    <table class="table">
                                        <thead class="panel panel-primary">
                                            <tr>
                                                <th>№</th>
                                                <th>Наименование</th>
                                                <th>Стоимость</th>
                                                <th>Количество</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var drink in product.Drinks)
                                            {
                                                <tr>
                                                    <td>@drink.Name</td>
                                                    <td>@drink.Cost</td>
                                                    <td>@drink.Count  </td>
                                                </tr>
                                            }*@


                                            @foreach (var food in product.Foods)
                                            {
                                                <tr>
                                                    <td>@food.Name</td>
                                                    <td>@food.Cost</td>
                                                    <td>@food.Count  </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





<style>
    .table-product {
        display: none;
    }
</style>

@section scripts {
    <script>
        $(function () {

            $('.check-product').on("change", function () {
                if (this.checked) {
                    $('[data-product-id="' + $(this).data('id') + '"]').show()
                    //$(this).parent().parent().parent().children('.table-product').show()
                }
                else {
                    $('[data-product-id="' + $(this).data('id') + '"]').hide()
                }
            })
        })
    </script>
}

