@model BeerMan.Models.Drink

@using (Html.BeginForm("AddDrink", "Drinks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Добавить Напиток</legend>

        <div class="editor-label">Название изображения</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Photo.Name)
            @Html.ValidationMessageFor(model => model.Photo.Name)
        </div>

        <div class="editor-label">Файл изображения</div>
        <div class="editor-field">
            <input type="file" name="uploadImage" />
        </div>

        <div class="editor-label">Название напитка</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">Стоимость напитка</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cost)
            @Html.ValidationMessageFor(model => model.Cost)
        </div>

        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>



